body{
    margin:0;
    background: rgb(252, 168, 224);
    font-size: 2rem;

}
.navbar ul{
display:flex;
list-style-type: none;
width: 100vw;
justify-content:space-evenly;
}

a{
    text-decoration: none;
    color: black;
    font-weight:800;
}
button{
    padding:3vh;
    border-style: none;
    border-radius: 2vh;
    background: blue;
}